:root{
    --home-color: white;    
    --guest-color: white;
    --prime-color: white;    
    --highlight-color: red;
}

body {
    margin: 0;
    background-color: #1B244A;    
    font-family: CursedTimer;    
    max-width: 1000px;    
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-around;
}

/* .panel {
} */

#home {
    color: var(--home-color);
}


#guest {
    color: var(--guest-color);
}

.team {
    text-align: center;    
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px auto; 
}

.scores {
    color: #F94F6D;
    text-align: center;
    font-size: 90px;
    background-color: #080001;
    width: 120px;
    padding: 0 20px;
    margin: 0 auto;
}

@font-face {
    src: url("CursedTimerUlil.ttf");
    font-family: CursedTimer;
}

.btn-group {
    display: flex;
    justify-content: space-around
}

.btn {
    color: #9AABD8;
    background-color: transparent;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    margin: 25px 0;
    width: 45px;
    height: 45px;
    font-family: CursedTimer;    
}

.btn:hover {
    border-color: var( --prime-color);
    color: var( --prime-color) ;
}

.new-game {
    display: block;
    margin: 50px auto;
    width: 100px;
    color: green;
    border: 2px solid green;
}

.new-game:hover {
    border-color: var( --highlight-color);
    color: var( --highlight-color);
}

#message {
    color: var( --prime-color);
    text-align: center;
}